<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Registration</h2>
    <%= form_for @user do |f| %>

      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <h3> <%= pluralize(@user.errors.count, 'error')%> stopped this from saving</h3>
          <% @user.errors.full_messages %>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "Register", class: 'btn btn-success btn-block' %>
      </div>
    <% end %>
  </div>
</div>
